/* body settings */
body { font-family: sans-serif; font-size: 9pt; background: #e8e8e8;}

/* setup page, before dada becomes visible */
#fullbg {
	position: absolute; top: 0px; left: 0px;
	width: 100%; height: 100%;
	z-index: -1;
	background: url(logos/muetze_bg.jpg) no-repeat center center fixed;
	background-size: cover;
}
#greeting     { position: fixed; left: 50%; }
#greeting     { width: 25em; height: 100%; margin-left: -12.5em; text-align: center; }
/*#greeting     { background: rgba(255,255,255,0.8); }*/
#greeting>div  { background: rgba(255,255,255,0.8); }
#loader       { width: 25em; background: #f1f1f1; }
#loading      { height: 9pt; width: 0em; background: #f6a828; }
.logos img    { width: 25em; }
.logos-bottom { position: absolute; bottom: 1em; }

#loader .dada-error { background: #cc3333; font-size: 18pt; font-weight: bold; }

/* slide show, if you need some time off */
#slideshow {
	position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;
	z-index: 1;
	background: no-repeat center center fixed;
	background-size: cover;
	display: none; /* only show if started */
}

.snap {
    position: absolute; top: 8px;
    border: 1px solid black;
    background: #e8e8e8;
}
.snap-list>ul {
    width: 32em;
    max-height: 80%;
    overflow-y: scroll;
}
.snap .snap-icon {
    width: 24px; height: 24px; line-height: 24px;
    display: inline-block;
    cursor: pointer;
}
.snap .snap-icon-newtab {
    background: url('icons/newtab.svg');
    background-position: center center;
    background-size: auto auto;
}
.snap .snap-icon-mail {
    background: url('icons/mail.svg');
    background-position: center center;
    background-size: auto auto;
}
.snap .snap-icon-comment {
    background: url('icons/comment.svg');
    background-position: center center;
    background-size: auto auto;
}
.snap .snap-icon-like {
    background: url('icons/like.svg');
    background-position: center center;
    background-size: auto auto;
}
.snap .snap-icon-reload {
    background: url('icons/reload.svg');
    background-position: center center;
    background-size: auto auto;
}
.snap .snap-icon-rename {
    background: url('icons/rename.svg');
    background-position: center center;
    background-size: auto auto;
}
.snap .snap-icon-trash {
    background: url('icons/trash.svg');
    background-position: center center;
    background-size: auto auto;
}
.snap .snap-icon-lock {
    background: url('icons/lock.svg');
    background-position: center center;
    background-size: auto auto;
}
.snap .snap-icon-undo {
    background: url('icons/undo.svg');
    background-position: center center;
    background-size: auto auto;
}
.snap .snap-icon-save {
    background: url('icons/save.svg');
    background-position: center center;
    background-size: auto auto;
}

.notyet {
    opacity: 0.4;
}

.snap-head            { line-height: 24px; font-weight: bold; }
.snap-head .snap-icon { position: absolute; right: 4px; }


.dada-modal { position: fixed; z-index: 2;
              padding: 1em 2em; display: inline-block;
	      left: 50%; top: 30%;
	      width: 16em; margin-left: -8em;
              background: #ccc;
	      }

.dada-box-drag { cursor: move; }


/* let the boxes wrap around */
.dada>div {
	display: inline-block;
	float: left;
}

/* sizes and borders for main and tool boxes */
.dada-box-main {
	border: 1px solid black;
	min-width: 600px;
}
.dada-box-open {
	border: 1px solid black;
	min-width: 200px;
	min-height: 8em;
}
.dada-box-left>div {
	border: 1px solid black;
	min-width: 200px;
	min-height: 4em;
}
.dada-box-right>div {
	border: 1px solid black;
	min-width: 200px;
	min-height: 4em;
}
/* styles inside tool boxes */
.dada-box-left>div>h3  { margin: 0em 0em 0.5em 0em; }
.dada-box-right>div>h3 { margin: 0em 0em 0.5em 0em; font-size: 9pt; }
.dada-box-right input  { width: 5em; }
.dada-box-right input  { width: 5em; }


/* hide / show tool boxes */
.dada-box-noshow { display: none; }
.dada-box-show   { display: block; }

/* currently not needed */
.dada-top { font-family: fixed, monospace; }

/* buttons for opening tool boxes */
.dada-box-open>ul           { list-style: none; padding: 0px; }
.dada-box-open>ul>li        { padding: 0px; }
.dada-box-open>ul>li>button { -moz-appearance: none; appearance: none; border: none; font-size: 9pt; }

button.dada-dropdown        { -moz-appearance: none; appearance: none; border: none; }

/* do not draw fancy borders around selected buttons */
button::-moz-focus-inner { border: 0; }

/* sizes of input boxes */
input.dada-input-s { width: 1.5em; }
input.dada-input-m { width: 3.0em; }
input.dada-input-l { width: 4.0em; }

/* detailed settings for certain elements */
.dada-box-colour button              { -moz-appearance: none; appearance: none; white; border: none; }
/*.dada-box-preprocessing td:first-child { text-align: right; }*/ /* ??? */
.dada-box-preprocessing button       { -moz-appearance: none; appearance: none; white; border: none; }

.dada-box-processing button          { -moz-appearance: none; appearance: none; white; border: none; }

.dada-box-radial button                   { -moz-appearance: none; appearance: none; white; border: none; }
.dada-box-radial table.dada-radial-pca td { width: 6em; }
.dada-box-radial div.dada-radial-plot     { width: 400px; height: 300px; }

/* settings for zoom window */
.dada-zoom-crop {
	position: relative;
	width: 400px;
	height: 400px;
	overflow: hidden;
	background: #ccc;
}
.dada-zoom-img {
	position: absolute;
	image-rendering:optimizeSpeed;
	image-rendering:-moz-crisp-edges;
	image-rendering:optimize-contrast;
	image-rendering:crisp-edges;
	image-rendering:pixelated;
}
.dada-zoom-can {
	position: absolute;
	width: 400px;
	height: 400px;
}

input  { font-size: 9pt; border: none; border-bottom: 1px solid black; padding: 0px; }

/* detailed settings for navigation bar etc. */
.dada-head>span { display: inline-block; /*min-width: 100px;*/ }
.dada-navi input { width: 3em; font-size: 9pt; border: none; border-bottom: 1px solid black; padding: 0px; }
.dada-navi input.dada-movie-step { width: 2em; }
.dada-navi input.dada-movie-wait { width: 2em; }
.dada-navi-single:before { content: "#"; }
.dada-navi-movie:before  { content: "movie: "; }
.dada-navi-movie input { margin-right: 0.5em; }
.dada-text:before { content: "status: "; }
.dada-text { font-family: fixed, monospace; }
.dada-info { font-family: fixed, monospace; }
.dada-navi button {
	border: none;
	padding: 0px;
	appearance: none; -moz-appearance: none; -webkit-appearance: none;
}
.dada-navi-multi-first:before { content: "# "; }
.dada-navi-multi-horz:before  { content: "horz: "; }
.dada-navi-multi-vert:before  { content: "vert: "; }
.dada-navi-multi-first { margin-right: 1em; }
.dada-navi-multi-horz  { margin-right: 1em; }
.dada-navi-multi-vert  { margin-right: 1em; }

.dada-navi-stxm-first:before { content: "# "; }
.dada-navi-stxm-horz:before  { content: "horz: "; }
.dada-navi-stxm-vert:before  { content: "vert: "; }
.dada-navi-stxm-first { margin-right: 1em; }
.dada-navi-stxm-horz  { margin-right: 1em; }
.dada-navi-stxm-vert  { margin-right: 1em; }

select {
	border: none;
	background: transparent;
	appearance: none; -moz-appearance: none; -webkit-appearance: none;
	line-height: 1em;
	padding: 0em;
	font-size: 9pt;
}
.dada-navi-stxm>.select-arrow>select {
	width: 124px;
}
.dada-navi-stxm>.select-arrow {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABEklEQVQ4y6WTMY6CQBSGnxsLT0EyV7ADLYzE0HAGKhsCsfAOVjYjtwEsMBCuQEuE4QhA929hILsZZnXDq+Z/mf97/0xmFgBAM+qLZtZswJKI6Hq9khDiX8b1ek2O47wAq9WK7vc7HY/Hj8yXy4Vs234JAOj7HowxPJ9PvKskSbDdbkdNwyIIAriu+xaw2+0Qx7EM6LoOjDFUVaU0Px4PbDabXz36KW63GzzPUwL2+z2iKFIDhhR1XUvmNE2l6RJgSOH7vrTRNE1p+iRgSCGEGHtZlsEwjMlj0VSTc47T6TTqw+GAMAw/BwwpmqZBnufQdV15sQvVb+ScU1mWVBQFnc9nsixr+lmqyG3bQtO0P6cDwDcYml9HPs+0MAAAAABJRU5ErkJggg==");
	background-position: center right;
	background-repeat: no-repeat;
	width: 6em;
	overflow: hidden;
	border: 1px solid #ccc;
	padding-right: 2px;
	margin-right: 0.2em;
}
select.dada-pp-roi-list {
	min-width: 8em;
}

button.helping   { background: #f6a828; }
.dada-help { display: none; }

.dada { display: inline-block; }

.dada-head {
	min-width: 620px;
}
.dada-head>.select-arrow>select {
	border: none;
	background: transparent;
	appearance: none; -moz-appearance: none; -webkit-appearance: none;
	width: 84px;
	padding: 5px;
	line-height: 1em;
	padding: 0em;
	font-size: 9pt;
}
.dada-head>.select-arrow {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABEklEQVQ4y6WTMY6CQBSGnxsLT0EyV7ADLYzE0HAGKhsCsfAOVjYjtwEsMBCuQEuE4QhA929hILsZZnXDq+Z/mf97/0xmFgBAM+qLZtZswJKI6Hq9khDiX8b1ek2O47wAq9WK7vc7HY/Hj8yXy4Vs234JAOj7HowxPJ9PvKskSbDdbkdNwyIIAriu+xaw2+0Qx7EM6LoOjDFUVaU0Px4PbDabXz36KW63GzzPUwL2+z2iKFIDhhR1XUvmNE2l6RJgSOH7vrTRNE1p+iRgSCGEGHtZlsEwjMlj0VSTc47T6TTqw+GAMAw/BwwpmqZBnufQdV15sQvVb+ScU1mWVBQFnc9nsixr+lmqyG3bQtO0P6cDwDcYml9HPs+0MAAAAABJRU5ErkJggg==");
	background-position: center right;
	background-repeat: no-repeat;
	width: 84px;
	overflow: hidden;
	border: 1px solid #ccc;
	padding-right: 2px;
	margin-right: 0.2em;
}
.dada-head>.select-arrow-wide {
	width: 204px;
}
.dada-head>.select-arrow>select {
	width: 204px;
}

.spacer { width: 100%; }
.dada-head { position: relative; }
.absolute-right {
	position: absolute;
	right: 0em;
}
.float-right {
	float: right;
}
.kiste-knoepfe>button {
	width: 1em;
	height: 1em;
	background: transparent;
	border: none;
	padding: 0px;
	appearance: none; -moz-appearance: none; -webkit-appearance: none;
}

.dada-module button {
	background: transparent;
	border: none;
	outline: 1px solid black;
	padding: 0px;
	appearance: none; -moz-appearance: none; -webkit-appearance: none;
	width: 6em;
}

/* visual feedback for activity */
button.dada-aktiv          { background: lime; }
button.dada-busy           { background: #f6a828; }
button.dada-busy:after     { background: #f6a828; content: "⌛"; }
button.dada-canceled       { background: red; }
button.dada-canceled:after { background: red; content: "✗"; }
input.dada-busy            { background: #f6a828; }


/* stuff for number fields */
input::-webkit-outer-spin-button { display: none; -webkit-appearance: none; margin: 0 }
input::-webkit-inner-spin-button { display: none; -webkit-appearance: none; margin: 0 }
input[type='number'] { -moz-appearance:textfield; }

/* geometry for palette selection */
img.dada-colour-palette          { width: 192px; height: 16px; }
ul.dada-colour-palette-select    { margin: 0px; padding: 0px; list-style-type: none; display: none; }
ul.dada-colour-palette-select>li { height: 16px; }

/* show STXM images with real pixels */
/*.img-stxm { width: 400px; }*/
.img-stxm {
	image-rendering:optimizeSpeed;
	image-rendering:-moz-crisp-edges;
	image-rendering:optimize-contrast;
	image-rendering:crisp-edges;
	image-rendering:pixelated;
}

.dada-thread {
	font-family: "monospace";
	font-size: 6pt;
	display: inline-block;
	text-align: center;
	min-width: 1.5em;
}
.dada-thread-on {
	background: #40ff00;
}

/* display dynamic mouse hover messages */
#hover { position: fixed; background: white; opacity: 0.9; padding: 0.5em; border: solid black 1px; display: none; }

