<div class="dada">

    <div class="dada-box-left">

	<div class="dada-box-meta dada-box-noshow">
	    <h3>meta data</h3>
	    <span class="dada-meta-data"></span>
	</div> <!-- dada-box-meta -->

    </div> <!-- dada-box-left -->

    <div class="dada-box-main">
	<div class="dada-head">
	    <span class="select-arrow">
		<select class="dada-module">
		    <option value="single">single</option>
		    <option value="multi">multi</option>
		    <option value="STXM">STXM</option>
		</select>
	    </span>
	    <span class="select-arrow">
		<select class="dada-head-instrument"><option value="">instrument</option></select>
	    </span>
	    <span class="select-arrow">
		<select class="dada-head-experiment"><option value="">experiment</option></select>
	    </span>
	    <span class="select-arrow">
		<select class="dada-head-detector"><option value="">detector</option></select>
	    </span>
	    <span class="select-arrow select-arrow-wide">
		<select class="dada-head-sample"><option value="">sample</option></select>
	    </span>
	    <span class="absolute-right">
		<span class="float-right">
		    <span class="kiste-knoepfe">
			<button class="dada-head-reload" tabindex="-1">⟲</button>
			<!--
			<button class="dada-head-min" tabindex="-1">◣</button>
			<button class="dada-head-close" tabindex="-1">×</button>
			-->
			<button class="dada-head-open"  tabindex="-1">▶</button>
		    </span>
		</span>
	    </span>
	</div> <!-- dada-head -->
	    
	<div class="dada-navi">
	    <span class="dada-navi-single">
		<button class="dada-navi-prev" tabindex="-1">←</button>
		<input class="dada-navi-imno dada-update-single" pattern="[0-9/]*" type="number">
		<button class="dada-navi-next" tabindex="-1">→</button>&nbsp;
	    </span>
	    <span class="dada-navi-movie">
		<input class="dada-movie-first" pattern="[0-9/]*" value="0">:
		<input class="dada-movie-step" value="1" type="number">:
		<input class="dada-movie-last" value="100" type="number">
		<input class="dada-movie-wait" value="50" type="number">ms&nbsp;
		<button class="dada-movie-rept dada-toggle" tabindex="-1">⟲</button>
		<button class="dada-movie-play" tabindex="-1">▶</button>
		<button class="dada-movie-stop" tabindex="-1">◼</button>
	    </span>
	    <span class="dada-navi-multi" style="display: none;">
		<span class="dada-navi-multi-first"><input value="0" type="number"></span>
		<span class="dada-navi-multi-horz"><input value="10" type="number"></span>
		<span class="dada-navi-multi-vert"><input value="10" type="number"></span>
		<!--
		<button class="dada-navi-multi-progressive">progressive</button>
		<button class="dada-navi-multi-parallel">parallel</button>
		-->
		<button class="dada-navi-multi-prev" tabindex="-1">←</button>
		<button class="dada-navi-multi-show" tabindex="-1">✓</button>
		<button class="dada-navi-multi-next" tabindex="-1">→</button>
		<button class="dada-navi-multi-help" tabindex="-1">？</button>
	    </span>
	    <span class="dada-navi-stxm" style="display: none;">
		<span class="dada-navi-stxm-first"><input value="0" type="number"></span>
		<span class="dada-navi-stxm-horz"><input value="10" type="number"></span>
		<span class="dada-navi-stxm-vert"><input value="10" type="number"></span>
		<button class="dada-navi-stxm-add" data-add="1"  tabindex="-1"> +1</button>
		<button class="dada-navi-stxm-add" data-add="10" tabindex="-1">+10</button>
		<span class="select-arrow">
		    <select class="dada-navi-stxm-signal">
			<option value="Itot">Itot</option>
			<option value="Imax">Imax</option>
			<option value="comh">comh</option>
			<option value="comv">comv</option>
			<!--
			<option value="rad1">rad1</option>
			<option value="rad2">rad2</option>
			<option value="rad3">rad3</option>
			<option value="rad4">rad4</option>
			<option value="phi1">φ₁</option>
			<option value="lam1">λ₁</option>
			<option value="lam2">λ₂</option>
			<option value="omeg">ω=(λ₁-λ₂)/(λ₁+λ₂)</option>
			-->
		    </select>
		</span>
		<!--
		<button class="dada-navi-stxm-progressive">progressive</button>
		-->
		<button class="dada-navi-stxm-parallel dada-toggle">parallel</button>
		<button class="dada-navi-stxm-show" tabindex="-1">✓</button>
		<!--button class="dada-navi-stxm-help" tabindex="-1">？</button-->
		<span class="select-arrow">
		    <select class="dada-navi-stxm-view">
			<option value="400px">400px</option>
			<option value="100%">100%</option>
		    </select>
		</span>
	    </span>
	</div>

	<div class="dada-help"></div>
	<div class="dada-bild"><img src="gfx/p300-halter.jpg" width="487" height="619"></div>
	<div class="dada-text">(empty template)</div>
	<div class="dada-info">&nbsp;</div>
	<div class="dada-pool">&nbsp;</div>
    </div> <!-- dada-box-main -->

    <div class="dada-box-right">

	<div class="dada-box-open dada-box-noshow">
	    <ul>
		<li><button data-box="dada-box-colour"        tabindex="-1">colour palette</button></li>
		<li><button data-box="dada-box-preprocessing" tabindex="-1">preprocessing</button></li>
		<li><button data-box="dada-box-processing"    tabindex="-1">processing</button></li>
		<li><button data-box="dada-box-radial"        tabindex="-1">radial</button></li>
		<!--
		<li><button data-box="dada-box-export"        tabindex="-1">image export</button></li>
		-->
		<li><button data-box="dada-box-zoom"          tabindex="-1">zoom</button></li>
		<li><button data-box="dada-box-meta"          tabindex="-1">meta data</button></li>
	    </ul>
	    <span class="dada-top"></span>
	</div> <!-- dada-box-open -->

	<div class="dada-box-colour dada-box-noshow">
	    <h3>colour palette</h3>
	    <span>
		<img class="dada-colour-palette dada-colour-palette-current" data-palette="test1" src="../colourpalette/test1">
		<button class="dada-colour-palette-dropdown dada-dropdown" tabindex="-1">▽</button>
		<ul class="dada-colour-palette-select">
		    <li><img src="../colourpalette/test1" class="dada-colour-palette" data-palette="test1"></li>
		    <li><img src="../colourpalette/bw"    class="dada-colour-palette" data-palette="bw"   ></li>
		    <li><img src="../colourpalette/wb"    class="dada-colour-palette" data-palette="wb"   ></li>
		    <li><img src="../colourpalette/bwr"   class="dada-colour-palette" data-palette="bwr"  ></li>
		    <li><img src="../colourpalette/husl"  class="dada-colour-palette" data-palette="husl" ></li>
		</ul>
		<table>
		    <tbody>
			<tr>
			    <td>min:</td>
			    <td>
				<input class="dada-colour-min dada-update" type="number">
			        <button class="dada-colour-clear-min dada-update dada-clear" tabindex="-1">✗</button>
			    </td>
			    <td><button class="dada-colour-clip dada-colour-clip-min dada-toggle dada-update" tabindex="-1">clip</button></td>
			    <td><button class="dada-colour-scale dada-colour-scale-lin dada-radio dada-update" data-radio="dada-colour-scale" tabindex="-1">lin</button></td>
			</tr>
			<tr>
			    <td>max:</td>
			    <td>
				<input class="dada-colour-max dada-update" type="number">
			        <button class="dada-colour-clear-max dada-update dada-clear" tabindex="-1">✗</button>
			    </td>
			    <td><button class="dada-colour-clip dada-colour-clip-max dada-toggle dada-update" tabindex="-1">clip</button></td>
			    <td><button class="dada-colour-scale dada-colour-scale-log dada-radio dada-update" data-radio="dada-colour-scale" tabindex="-1">log</button></td>
			</tr>
		    </tbody>
		</table>
	    </span>
	</div> <!-- dada-box-colour -->

	<div class="dada-box-preprocessing dada-box-noshow">
	    <h3>preprocessing</h3>
	    <span>
		<table>
		    <tbody>
			<tr>
			    <td>roi</td>
			    <td>
				←<input class="dada-pp-roi-x dada-update-single dada-input-m" type="number">
				↑<input class="dada-pp-roi-y dada-update-single dada-input-m" type="number">
				↔<input class="dada-pp-roi-w dada-update-single dada-input-m" type="number">
				↕<input class="dada-pp-roi-h dada-update-single dada-input-m" type="number"><br />
				<button class="dada-pp-roi-mask dada-toggle dada-update-single" tabindex="-1">mask</button>
				<button class="dada-pp-clear-roi dada-clear dada-update-single" tabindex="-1">✗</button>
				<select class="dada-pp-roi-list" tabindex="-1"></select>
			    </td>
			</tr>
			<tr>
			    <td>binning</td>
			    <td>
				<input class="dada-pp-bin-x dada-update-single dada-input-s" value="1" type="number">×
				<input class="dada-pp-bin-y dada-update-single dada-input-s" value="1" type="number">
				<button class="dada-pp-clear-bin dada-clear dada-update-single" data-value="1" tabindex="-1">✗</button>
			    </td>
			</tr>
			<tr>
			    <td>stack</td>
			    <td>
				<input class="dada-pp-stack dada-update-single dada-input-m" value="1" type="number">
				<select class="dada-pp-stack-what dada-update-single">
				    <option value="sum">sum</option>
				    <option value="avg">avg</option>
				    <option value="max">max</option>
				    <option value="min">min</option>
				</select>
				<button class="dada-pp-clear-stack dada-clear dada-update-single" data-value="1" tabindex="-1">✗</button>
			    </td>
			</tr>
			<tr>
			    <td>divide #</td>
			    <td>
				<input class="dada-pp-divide dada-update-single dada-input-l" type="number">
				<button class="dada-pp-clear-divide dada-clear dada-update-single" tabindex="-1">✗</button>
			    </td>
			</tr>
			<tr>
			    <td>subtract #</td>
			    <td>
				<input class="dada-pp-subtract dada-update-single dada-input-l" type="number">
				<button class="dada-pp-clear-subtract dada-clear dada-update-single" tabindex="-1">✗</button>
			    </td>
			</tr>
		    </tbody>
		</table>
	    </span>
	</div> <!-- dada-box-preprocessing -->

	<div class="dada-box-processing dada-box-noshow">
	    <h3>processing</h3>
	    <span>
		<table>
		    <tbody>
			<tr>
			    <!--
			    <td>fft2d</td>
			    <td>
				<input class="proc-fft2d-enable" type="checkbox">
				←<input class="proc-fft2d-cenx" type="number">
				↑<input class="proc-fft2d-cen-y" type="number">
				<button class="proc-fft2d-clear" tabindex="-1">✗</button>
			    </td>
			    -->
			</tr>
		    </tbody>
		</table>
	    </span>
	</div> <!-- dada-box-processing -->

	<div class="dada-box-radial dada-box-noshow">
	    <h3>radial analysis</h3>
	    <span>
		<table>
		    <tbody>
			<tr>
			    <td>centre</td>
			    <td>
				←<input class="dada-radial-pb dada-radial-pb-x dada-update-single dada-input-m" data-pb="x" value="" type="number">
				↑<input class="dada-radial-pb dada-radial-pb-y dada-update-single dada-input-m" data-pb="y" value="" type="number">
				<button class="dada-radial-click-pb" tabindex="-1">☜</button>
				<button class="dada-radial-clear-pb" tabindex="-1">✗</button>
			    </td>
			    <td>
				<button class="dada-radial-show" tabindex="-1">show</button>
			    </td>
			</tr>
			<tr>
			    <td>radius&nbsp;1</td>
			    <td>
				 <input class="dada-radial-radius dada-radial-radius-1 dada-update-single dada-input-m" value="" type="number">
				<button class="dada-radial-click-radius dada-radial-click-radius-1" data-radius="1" tabindex="-1">☜</button>
				<button class="dada-radial-clear-radius dada-radial-clear-radius-1" data-radius="1" tabindex="-1">✗</button>
			    </td>
			    <td>
				<span class="dada-radial-intensity-1"></span>
			    </td>
			</tr>
			<tr>
			    <td>radius&nbsp;2</td>
			    <td>
				 <input class="dada-radial-radius dada-radial-radius-2 dada-update-single dada-input-m" value="" type="number">
				<button class="dada-radial-click-radius dada-radial-click-radius-2" data-radius="2" tabindex="-1">☜</button>
				<button class="dada-radial-clear-radius dada-radial-clear-radius-2" data-radius="2" tabindex="-1">✗</button>
			    </td>
			    <td>
				<span class="dada-radial-intensity-2"></span>
			    </td>
			</tr>
			<tr>
			    <td>radius&nbsp;3</td>
			    <td>
				 <input class="dada-radial-radius dada-radial-radius-3 dada-update-single dada-input-m" value="" type="number">
				<button class="dada-radial-click-radius dada-radial-click-radius-3" data-radius="3" tabindex="-1">☜</button>
				<button class="dada-radial-clear-radius dada-radial-clear-radius-3" data-radius="3" tabindex="-1">✗</button>
			    </td>
			    <td>
				<span class="dada-radial-intensity-3"></span>
			    </td>
			</tr>
			<tr>
			    <td>outside</td>
			    <td>&nbsp;</td>
			    <td>
				<span class="dada-radial-intensity-4"></span>
			    </td>
			</tr>
		    </tbody>
		</table>
		<h6>PCA between radius 1 and 2</h6>
		<table class="dada-radial-pca">
		    <tbody>
			<tr>
			    <td>φ₁</td>
			    <td>λ₁</td>
			    <td>λ₂</td>
			    <td>ω</td>
			</tr>
			<tr>
			    <td class="dada-radial-pca-phi1"></td>
			    <td class="dada-radial-pca-lam1"></td>
			    <td class="dada-radial-pca-lam2"></td>
			    <td class="dada-radial-pca-omeg"></td>
			</tr>
		    </tbody>
		</table>
		<h6>Azimuthal average between radius 1 and 3</h6>
		<div id="chart1" class="dada-radial-plot"></div>
		<span class="dada-radial-info"></span>
	    </span>
	</div> <!-- dada-box-radial -->
	
	<div class="dada-box-export dada-box-noshow">
	    <h3>image export</h3>
	    <span>
		<ul>
		    <li>open as PNG</li>
		    <li>open as JPEG</li>
		    <li>open as PDF</li>
		    <li>open with Matlab</li>
		</ul>
	    </span>
	</div> <!-- dada-box-export -->

	<div class="dada-box-zoom dada-box-noshow">
	    <h3>zoom</h3>
	    <div class="dada-zoom-crop"><img class="dada-zoom-img"></div>
	</div> <!-- dada-box-zoom -->

    </div> <!-- dada-box-right -->

</div> <!-- dada -->

<div class="snap">
    <div class="snap-head dada-box-drag">
	list of snapshots
	<span class="snap-icon snap-icon-reload">&nbsp;</span>
    </div>
    <div class="snap-list"></div>
    <div class="snap-ctrl">
	<span class="snap-icon snap-icon-save">&nbsp;</span>
	<span class="snap-icon snap-icon-undo">&nbsp;</span>
	<input class="snap-rename notyet"></input>
	<span class="snap-icon snap-icon-rename notyet">&nbsp;</span>
	<span class="snap-icon snap-icon-trash notyet">&nbsp;</span>
	<span class="snap-icon snap-icon-lock notyet">&nbsp;</span>
	<span class="snap-icon snap-icon-comment notyet">&nbsp;</span>
	<span class="snap-icon snap-icon-like notyet">&nbsp;</span>
	<span class="snap-icon snap-icon-mail">&nbsp;</span>
	<span class="snap-icon snap-icon-newtab">&nbsp;</span>
    </div>
</div> <!-- snap -->
