<p>
    Do you really want to <em>delete</em> the <span class="snap-del-kind">&nbsp;</span> called
</p>
<p>
    <input class="snap-del-name" readonly>?
</p>
<p>
    <button type="submit" class="notyet">Yes</button>
    <button type="cancel">No</button>
</p>
