<p>
    <input type="radio" id="snap.new.shot"   name="snap.new" checked="checked" value="snapshot"><label for="snap.new.shot">snapshot</label>
    <input type="radio" id="snap.new.folder" name="snap.new"                   value="folder" class="notyet" disabled><label for="snap.new.folder">folder</label>
</p>
<p>
    <label for="snap.new.name">name: </label><input name="snap.name" pattern="[a-zA-Z0-9_-]*" type="text"></input>
</p>
<p>
    <button type="submit">create</button>
    <button type="cancel">cancel</button>
</p>
